div {
   display:flex;
   justify-content: center;
   font-family: Arial, Helvetica, sans-serif;
   background-color: #579760;
   color: white;
   font-size: 32px;
   padding: 5px;
}
 
#big_div {
   display: flex;
   justify-content: space-around;
}
 
  
 nav {
    background-color: #272D33;
    padding: 5px;
    display: flex;
    justify-content: space-around;
 }
  
 .drop-element {
   color: black; /* about me text color, can change */
   background-color: Transparent; /* changeable */
   font-size: 32px; /* about me text size */
}

.about-content {
   display: none;
   position: absolute;
   background-color: #121212;
   min-width: 100px;
   padding: 5px;
}

.about-content a:hover {
   background-color: lightskyblue;
}

.dropdown:hover .about-content {
   display: block;
   font-size: 16px;
}


.about-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}

 img {
    width: 120px;
 }
  
 .items:hover {
    background-color: gray;
    opacity: 0.5;
 }
  
 a {
    width: 20%;
    text-align: center;
    text-decoration: none;
 }

 h1 {
   border-radius:50%;
   display: flex;
   justify-content: center;
   color: #832222;
   background-color: #dfea10;
 }

 p {
   display:flex;
   justify-content: center;
 }

h2 {
   color: #dfea10;
   background-color: #832222;
}

 img {
width: 240px;
display: flex;
flex-direction:row;

 }


 
 